<div class="row">
	<div class="span6 offset3">
		<div class="well">

			<h2>Editing Trip</h2>

			<%= render 'form' %>

			<%= link_to 'Show', @trip %> |
			<%= link_to 'Back', trips_path %>

		</div>
	</div>
</div>
