<div class="row">
	<div class="span6 offset3">
		<div class="well">

			<p>
			  <b>Description:</b>
			  <%= @trip.description %>
			</p>
			<p>
				<em>Trip curated by <%= @trip.user.username %></em>
			</p>

			<% if current_user == @trip.user %>
				<%= link_to 'Edit', edit_trip_path(@trip) %> |
				<%= link_to 'Back to Trips', trips_path %>
			<% end %>

		</div>
	</div>
</div>