/*To change font: 
$baseFontFamily: 'Anaheim';
@import url(http://fonts.googleapis.com/css?family=Anaheim); */


/*Changes color of navbar:*/
$navbarBackgroundHighlight: #999999;
$navbarBackground: #999999;

$navbarLinkColor: white;
/*$btnPrimaryBackground: blue;*/

$baseFontSize: 12px;

@import "bootstrap";

body {
	padding-top: 60px;
}

@import "bootstrap-responsive";

.btn-primary {
	color: white !important;
}

/*.border {
  border-left: 4px solid red;
}*/

/* For index colors to label each type */
.note_label {
	color: blue;
}
.trip_label {
	color: green;
}
.accommodation_label {
	color: red;
}
.hot_spot_label {
	color: orange;
}
.destination_label {
	color: purple;
}

/*Navigation styling */
.nav_header {
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* Left navigation - Additional styling */
.btn-nav {
  margin: 3px;
}
.btn-nav a {
  color: white !important;
}

.lead {
  color: red;
}

/* Right navigation - Add New styling */

.btn-success {
	color: white !important;
}
.btn-add {
	width: 65%;
}
.btn-add-acc {
	width: 35%;
}
.btn-add-hsn {
	width: 20%;
}

/* Required for jQuery Masonry */
.box {
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width:214px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      padding-top: 20px;
      padding-right: 15px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #bd362f;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

/* The filter styling */

.ff-container{
    width: 564px;
    margin: 10px auto 30px auto;
}

.ff-container label{
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    width: 25%;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 19px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    float:left;
    box-shadow:
        0px 0px 0px 1px #aaa,
        1px 0px 0px 0px rgba(255,255,255,0.9) inset,
        0px 1px 2px rgba(0,0,0,0.2);
}
  
.ff-container label.ff-label-type-all{
    border-radius: 3px 0px 0px 3px;
}
.ff-container label.ff-label-type-3{
    border-radius: 0px 3px 3px 0px;
}
  
.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3{
    background: linear-gradient(top, #646d93 0%,#7c87ad 100%);
    color: #424d71;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    box-shadow:
        0px 0px 0px 1px #40496e,
        0 1px 2px rgba(0,0,0,0.1) inset;
}
  
.ff-container input{
    display: none;
}
  
.ff-items{
    position: relative;
    margin: 0px auto;
    padding-top: 20px;
}
  
.ff-items a{
    display: block;
    position: relative;
    padding: 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 4px;
    width: 160px;
    height: 120px;
}
.ff-items a span{
    display: block;
    background: rgba(113,123,161, 0.9);
    font-style: italic;
    color: #fff;
    font-weight: bold;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 120px;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #303857;
    transition: all 0.3s ease-in-out;
}
.ff-items a:hover span{
    height: 80px;
    opacity: 1;
}
.ff-items li img{
    display: block;
}

.ff-items li{
    margin: 0px;
    float: left;
    height: 148px;
    width: 0px;
    transform: scale(0,0);
}

.ff-container input.ff-selector-type-all:checked ~ .ff-items li{
    width: 188px;
    transform: scale(1,1);
    transition: transform 0.3s linear;
}