/*To change font: 
$baseFontFamily: 'Anaheim';
@import url(http://fonts.googleapis.com/css?family=Anaheim); */


/*Changes color of navbar:*/
$navbarBackgroundHighlight: #999999;
$navbarBackground: #999999;

$navbarLinkColor: white;
/*$btnPrimaryBackground: blue;*/

$baseFontSize: 12px;

@import "bootstrap";

body {
	padding-top: 60px;
}

@import "bootstrap-responsive";

.btn-primary {
	color: white !important;
}

/*.border {
  border-left: 4px solid red;
}*/

/* For index colors to label each type */
.note_label {
	color: blue;
}
.trip_label {
	color: green;
}
.accommodation_label {
	color: red;
}
.hot_spot_label {
	color: orange;
}
.destination_label {
	color: purple;
}

/*Navigation styling */
.nav_header {
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* Left navigation - Additional styling */
.btn-nav {
  margin: 3px;
}
.btn-nav a {
  color: white !important;
}

.lead {
  color: red;
}
.add_new {
  padding: 5px;
}

/* Right navigation - Add New styling */

.btn-success {
	color: white !important;
}

/* Required for jQuery Masonry */
.box {
	margin: 5px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width:214px;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      padding-top: 20px;
      padding-right: 15px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
      margin-left: 80px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #bd362f;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }