<span class="label label-inverse nav_header">MY VIEW</span>

<p>
	<span class="lead">Trips</span>
	<% @trips.each do |trip| %>
		<span class="btn btn-nav btn-primary">
			<%= link_to trip.description, trip %>
		</span>
	<% end %>
</p>

<p>
	<span class="lead">Type</span>
	<span class="btn btn-nav btn-info">
		<%= link_to "Accommodations", accommodations_path %>
	</span> 
	<span class="btn btn-nav btn-info">
		<%= link_to "Hot Spots", hot_spots_path %>
	</span>
	<span class="btn btn-nav btn-info">
		<%= link_to "Notes", notes_path %>
	</span>
</p>