<span class="label label-inverse nav_header">MY VIEW</span>

<p><span class="label label-important">Trips</span> Populate trips dynamically.</p>
<p><span class="label label-important">Destinations</span> Populate destinations dynamically.</p>
<p><span class="label label-important">Type</span> Accommodations | Hot Spots | Notes</p>