<span class="label label-inverse nav_header">ADD NEW</span>

<div align="center">

<p><%= link_to "Trip", new_trip_path, class: "btn btn-success btn-block" %>

	<%= link_to "Accommodation", new_accommodation_path, class: "btn btn-success btn-block" %> <%= link_to "Hot Spot", new_hot_spot_path, class: "btn btn-success btn-block" %> <%= link_to "Note", new_note_path, class: "btn btn-success btn-block" %>
</p>

</div>
